# python stuff
__pycache__/

# output dir
**/outputs/

# scratch files
**experiment**
scratch.py
scratch.ipynb

# datasets
**/physionet.org
**/ptb-xl

# big data files
data/test_ptbxl.hdf5
data/train_ptbxl.hdf5