# python stuff
__pycache__/

# output dir
**/outputs/

# scratch files
**experiment**
scratch.py
scratch.ipynb

# datasets
**/physionet.org
**/ptb-xl
split-learning-1D/

# big data files
data/ptbxl_test.hdf5
data/ptbxl_train.hdf5