# dataset
dataset: MIT-BIH  # MIT-BIH or PTB-XL
# hyperparams
port: 1024
verbose: True
batch_size: 8
epoch: 1
lr: 0.001
seed: 0
batch_encrypted: True
save_model: True
debugging: False  # if True, the client sends the secret key to the server (only for debugging)
dry_run: True  # if True, only train on 1 batch of data
he:
  P: 8192
  C: [40, 21, 21, 21, 40]
  Delta: 2097152 # 2^21
output_dir: '8192_batch8_epoch10_lr0.001'
# hydra configurations
hydra:
  run:
    dir: outputs/${now:%Y-%m-%d}/${output_dir}/${hydra.job.name}